anaconda-client
appdirs
atomicwrites
backports.weakref
brotlipy
certifi
clyent
conda
conda-build
conda-repo-cli 
conda-verify 
constantly
cssselect
datashape
et-xmlfile
fonttools
inflection
ipywidgets
jsonpointer
jupyterlab-widgets
llvmlite
mpmath
munkres
mypy-extensions
navigator-updater
openpyxl
pandas
patsy
pep8
Pillow
ply
pyasn1-modules
pycurl
PyDispatcher
pyls-spyder
PyQt5-sip
pytest
python-lsp-jsonrpc
queuelib
scipy
sklearn
TBB
torch
viola
webencodings
websockets
widgetsnbextension
zict
